.login {
  display: grid;
  place-items: center;
  margin: 0 auto;
  padding: 100px 0;
}

.login > img {
  object-fit: contain;
  height: 70px;
  margin: 20px 0;
}

.login > form {
  display: flex;
  flex-direction: column;
}

.login > form > input {
  width: 350px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

.login > form > button {
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #70b5f9;
  border-radius: 25px;
}

.login__register {
  color: #D4ECDD;
  cursor: pointer;
}

.login > p {
  margin-top: 20px;
  color: whitesmoke;
}
